<a href="/user-product-info?{{id}}" class="card">
    <div class="card__id">ID: {{id}}</div>
    <span class="card-titles">Товари</span>
    <div class="card__title">{{title}}</div>
    <span class="card-titles">Сума Замовлення</span>
    <div class="card__price">{{price}}</div>
    <span class="card-titles">Нараховані бонуси</span>
    <div class="card__bonus">{{bonus}}</div>
</a>