<main class="main">
    {{#with data}}
    <div class="form">
        <span class="id">ID: {{id}}</span>

        <span class="name">Ім'я: {{name}}</span>
        <span class="lastname">Прізвище: {{lastname}}</span>
        <span class="phone">Телефон: {{phone}}</span>
        <span class="email">Електронна пошта: {{email}}</span>
        <div>
            {{/with}}
</main>